html,body,.container{
    height:100%;
/*
    width:"100%";
*/
}

#nav{
    height:50px;
    min-height:50px;
}

body{
/*
    background-image:url("logo.png");
*/
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color:#e7eff6;
}

.jumbotron{
    background-color:#adcbe3;
}
.row{
    display: table;
    width:100%;
    min-height:100%;
/*
    font-size:0;
*/
}

#description{
    font-size:18px;
    padding-top:15%;
/*
    display:inline-block;
    vertical-align:middle;
    float:none;
*/
}

.wrap{
}
/*
#blog{
    transform:scale(.9);
    width:100%;
}
*/
/*
.col-sm-6{
    float: none;

    display: table-cell;

    background-color:red;

}
*/


#chat{
    float:none;
    display: table-cell;
/*
    background-color:#63ace5;
    border-radius:10px;
*/
}


.bottom-align{
    position:absolute;
    bottom:0;
    width:95%;
}

.footer{
    position:fixed;
    bottom:0;
    right:0;
}
