html,body,.container{
    height:100%;
}

#nav{
    height:50px;
    min-height:50px;
}

body{
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color:#e7eff6;
}

.jumbotron{
    background-color:#adcbe3;
}
.row{
    display: table;
    width:100%;
    min-height:100%;
}

#description{
    font-size:18px;
    padding-top:15%;
}

.customtron{
    padding:25px 40px 25px 40px;
}

.centerText{
    display:table-cell;
    float:none;
}

#gamesDesciption{
    padding:10px;
}

.descriptionP{
    font-size:12px !important;
}

#chat{
    float:none;
    display: table-cell;
}


.bottom-align{
    position:absolute;
    bottom:0;
    width:95%;
}

.footer{
    position:fixed;
    bottom:0;
    right:0;
}
